import(methods)

export(dputToString, dgetFromString)

S3method(is.Pnet, NeticaBN)
S3method(as.Pnet, NeticaBN)
S3method(PnetPriorWeight, NeticaBN)
S3method("PnetPriorWeight<-", NeticaBN)
S3method(PnetPnodes, NeticaBN)
S3method("PnetPnodes<-", NeticaBN)
S3method(calcPnetLLike, NeticaBN)
S3method(calcExpTables, NeticaBN)

S3method(as.Pnode, NeticaNode)
S3method(Pnode, NeticaNode)
S3method(PnodeNet, NeticaNode)
S3method(PnodeQ, NeticaNode)
S3method("PnodeQ<-", NeticaNode)
S3method(PnodePriorWeight, NeticaNode)
S3method("PnodePriorWeight<-", NeticaNode)
S3method(PnodeRules, NeticaNode)
S3method("PnodeRules<-", NeticaNode)
S3method(PnodeLink, NeticaNode)
S3method("PnodeLink<-", NeticaNode)
S3method(PnodeLnAlphas, NeticaNode)
S3method("PnodeLnAlphas<-", NeticaNode)
S3method(PnodeBetas, NeticaNode)
S3method("PnodeBetas<-", NeticaNode)
S3method(PnodeLinkScale, NeticaNode)
S3method("PnodeLinkScale<-", NeticaNode)
S3method(BuildTable, NeticaNode)
S3method(PnodeParentTvals, NeticaNode)
S3method(maxCPTParam, NeticaNode)







