import(methods)
import(Peanut)
import(RNetica)
import(CPTtools)
import(futile.logger)
importFrom("stats", "median")

exportMethods(is.Pnet,as.Pnet,PnetPriorWeight,
              "PnetPriorWeight<-", PnetPnodes,
              "PnetPnodes<-", calcPnetLLike, calcExpTables) # NeticaBN
exportMethods("PnetSerialize","unserializePnet")

exportMethods(is.Pnode,as.Pnode, Pnode, PnodeNet,
              PnodeQ, "PnodeQ<-", PnodePriorWeight,
              "PnodePriorWeight<-", PnodeRules,
              "PnodeRules<-", PnodeLink, "PnodeLink<-",
              PnodeLnAlphas, "PnodeLnAlphas<-",
              PnodeBetas, "PnodeBetas<-",
              PnodeLinkScale, "PnodeLinkScale<-",
              BuildTable, PnodeParentTvals,
              maxCPTParam)  #NeticaNode

exportMethods(PnodeName,"PnodeName<-",
              PnodeTitle,"PnodeTitle<-",
              PnodeDescription,"PnodeDescription<-",
              PnodeLabels,"PnodeLabels<-",
              PnodeStates,"PnodeStates<-",
              PnodeNumStates,PnodeStateTitles,
              "PnodeStateTitles<-",PnodeStateDescriptions,
              "PnodeStateDescriptions<-",PnodeStateValues,
              "PnodeStateValues<-",PnodeParents,
              PnodeStateBounds, "PnodeStateBounds<-",
              "PnodeParents<-", isPnodeContinuous,
              PnodeParentNames,PnodeNumParents) #NeticaNode

exportMethods(PnetName,"PnetName<-",
              PnetTitle,"PnetTitle<-",
              PnetDescription,"PnetDescription<-",
              PnetPathname,"PnetPathname<-",
              PnetHub,"PnetHub<-") #NeticaBN

exportMethods(PnetFindNode)
export(MakePnet.NeticaBN,MakePnode.NeticaNode) ## Not actually S3 Methods
export(BNWarehouse,NNWarehouse)
exportClasses(BNWarehouse,NNWarehouse)
export(WarehouseDirectory,"WarehouseDirectory<-")
exportMethods(ClearWarehouse,
              WarehouseManifest,"WarehouseManifest<-",
       WarehouseData,WarehouseFetch,WarehouseSupply,
       WarehouseMake,WarehouseFree, WarehouseUnpack,
       WarehouseInventory,
       is.PnodeWarehouse,is.PnetWarehouse,
       WarehouseDirectory,"WarehouseDirectory<-")
##export(Free,Save,Reload,Delete)     #Warehouse protocol
##exportMethods(Free,Save,Reload,Delete)     #Warehouse protocol


exportMethods(PnodeMargin, PnodeEAP, PnodeSD, PnodeMedian,
              PnodeMode)









